#grid {
    max-width: 1100px;
    border-collapse: collapse;
    min-width: 320px;
    display: block;
}

.row {
    display: block;
    width: 100%;
}

.pic {
    width: 200px;
    height: 200px;
    border: solid;
    background-size: 100% 100%;
    position: relative;
    transition: border-radius 2s;
}

.pic:hover {
    border-radius: 60%;
}

@keyframes dropHeader {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.onload {
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.6s;
}

h3 {
    box-shadow: inset 0 -40px 70px rgba(0,0,0,0.3);
    color: white;
    margin: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
}

.big {
    display: inline-block;
    width: 64%;
}

.small {
    width: 32%;
    display: inline-block;
}

img {
    height: 200px;
    width: 100%;
    border: solid;
    border-collapse: collapse;
}

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto-Italic.ttf');
}

h1, h3 {
    font-family: roboto;
}

button {
    height: 50px;
    width: 150px;
    margin: 2% 0 0 40%;
    border-radius: 40%;
    background-color: navy;
    font-size: 1em;
    color: #d6d2d2;
    font-family: roboto;
}